h2{
    color: deeppink;
    font-size: 36px;
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif

}

p{
    color: black;
    font-size: 24px;
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px; /* Adds space between text and image */
    color: royalblue;
    font-size: 80px;
    margin: 0px;
    padding: 10px 0px;
    text-shadow: 4px 4px 2px chartreuse;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: rebeccapurple;
    font-size: 24px;
    line-height: 2;
    letter-spacing: 1px;
}
html{
    font-size: 12px;
    font-family: "Ubuntu", serif;
    background-color: gold;
}
body{
    width: 800px;
    margin: 0 auto;
    background-color: lightsalmon;
    padding: 0px 20px 20px 20px;
    border: 10px solid springgreen;
}
img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.roman{
    font-size: 36px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:azure;
}

.brush{
    font-size: 36px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rebeccapurple;
}

.courier{
    font-size: 36px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: lightseagreen;
}

.century{
    font-size: 36px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: fuchsia;
}

.bradley{
    font-size: 36px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orange;
}

.georgia{
    font-size: 36px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: palegreen
}

.arial{
    font-size: 36px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: steelblue;
}

.l1{
    font-weight: bold;
}

#container{
    display: flex;
    flex-direction: row;   
    justify-content: center;
    padding:10px 50px;
}

#vid{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    padding:10px 50px;
}


iframe{
    margin-left:65px;
}